 .u-section-1 {
  background-image: url("images/resources_bcb3b4ba-7d9c-4176-8b8e-fe8c70886cab-8323_NYC_black_and_white_m.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1198px;
}

.u-section-1 .u-group-1 {
  width: 930px;
  min-height: 959px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  background-image: none;
  margin: 159px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 12px 12px 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 45px 12px 0;
}

.u-section-1 .u-image-1 {
  width: 364px;
  height: 377px;
  margin: 133px 223px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: -14px 564px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: -670px 522px 0 12px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 75px 564px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: -405px 0 0 536px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 318px 28px 0 536px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1272px;
    margin-bottom: 9px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 465px;
    margin-right: 294px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -654px;
    margin-right: 534px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 59px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -389px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 1249px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 394px;
    margin-top: 446px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -569px;
    margin-right: 360px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 390px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 362px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1671px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 60px;
    min-height: 1392px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 29px 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-3 {
    width: 327px;
    margin-top: 569px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -717px;
    margin-right: 303px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 42px;
    margin-right: 303px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -526px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 152px;
    margin-right: 0;
    margin-left: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1967px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 191px;
    margin-bottom: 28px;
    min-height: 1748px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 331px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 839px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -1004px;
    margin-right: 40px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 221px;
    margin-right: 40px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -342px;
    margin-right: 40px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 256px;
    margin-left: 20px;
    margin-right: 20px;
  }
}