 .u-section-1 {
  background-image: url("images/resources_bcb3b4ba-7d9c-4176-8b8e-fe8c70886cab-8323_NYC_black_and_white_m.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 782px;
}

.u-section-1 .u-group-1 {
  width: 930px;
  min-height: 528px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  background-image: none;
  margin: 159px auto 60px 104px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 12px 12px 0;
}

.u-section-1 .u-image-1 {
  width: 224px;
  height: 300px;
  margin: 45px auto 0 12px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: -271px 12px 0 281px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 41px 598px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 147px;
    margin-left: 10px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 136px;
    min-height: 508px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -293px;
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-right: 434px;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-group-1 {
    min-height: 600px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -300px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -118px;
    margin-right: 274px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 43px;
    min-height: 928px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 521px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-2 {
    width: 222px;
    margin-top: -799px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 322px;
    margin-right: 53px;
    margin-left: 43px;
  }
}