 .u-section-1 {
  background-image: url("images/resources_bcb3b4ba-7d9c-4176-8b8e-fe8c70886cab-8323_NYC_black_and_white_m.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-group-1 {
  width: 930px;
  min-height: 487px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  background-image: none;
  margin: 174px auto 60px 102px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 27px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 12px 33px 0;
}

.u-section-1 .u-image-1 {
  width: 333px;
  height: 222px;
  margin: 75px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: -251px 33px 0 360px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: -44px 597px 0 69px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 10px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-group-1 {
    min-height: 611px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -236px;
    margin-right: 0;
    margin-left: 346px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -235px;
    margin-right: 410px;
    margin-left: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-1 .u-group-1 {
    min-height: 762px;
    margin-bottom: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 385px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -587px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    width: 190px;
    margin-top: 277px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-group-1 {
    min-height: 890px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 213px;
    margin-top: 517px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -710px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 239px;
  }
}